/* navbar */
body{
	background-color: #F5F5DC;
}
#NavLogo{
	height: 80px;
}
@media (min-width: 992px){
	#navbarNavDropdown{
		position: absolute;
		right: 30px;
	}
}
.navbar{
	background-color: #795548;
}

.nogaLevo{ margin: 8px 0px; text-align: right; padding: 0px 5px;}

.nogaDesno{
   padding-top: 8px;
   text-align: left;
}

.nogaDesno, .nogaLevo{
	font-size: 20px;
}
#noga{
	width: 100%;
	background-color: #212121;
	color: aqua;
}
/* INTRO-INDEX */

.intro-header-index{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 620px;
	margin-bottom: 100px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f4f4f4;
	background-image: url('slike/2burgers.jpg');
	background-position: 0px 0px;
	background-size: cover;
	color: #fff;
}
/*	INTRO-LOKACIJA */
.intro-header-lokacija{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 620px;
	margin-bottom: 100px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f4f4f4;
	background-image: url('slike/lokacija.jpg');
	background-position: 0px 0px;
	background-size: cover;
	color: #fff;
}
/*  MAIN */
#main{
	/*background-color: #795548;*/
	padding-top: 10px;
}
#main .col-md-6 img{
	width: 100%;
}
#main .row{
	margin-bottom: 100px;
}
.sredina{
	display: block;
	margin: auto;
}
.sredina p{
	text-align: center;
	margin: auto;
}
#main video{
	margin-bottom: 100px;
}
/*LOKACIJA*/
.lokacija #main .row .sredina p{
	font-size: 1.3em;
}
.lokacija #main #odpiralni_cas img{
	height: 50%;
	width: 50%;
	margin: auto;
}

.lokacija #main #odpiralni_cas table {
	width: 50%;
	margin: 20px auto;
	border-collapse: collapse;
}
.lokacija #main #odpiralni_cas th,.lokacija #main #odpiralni_cas td {
	border: 1px solid #000;
	padding: 8px 12px;
	text-align: center;
}
.lokacija #main #odpiralni_cas th {
	background-color: #f2f2f2;
}
/* LEAFLET */
#map { 
	height: 500px;
	width: 50%;
	margin: auto;
}

/* KONTAKT--narocilo*/
.intro-header-narocilo{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 1120px;
	margin-bottom: 100px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f4f4f4;
	background-image: url('slike/prevzem.jpg');
	background-position: 0px 0px;
	background-size: cover;
	color: #fff;
}
.kontakt .row {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	margin: 0 -16px;
}

.kontakt .col-25 {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
}

.kontakt .col-50 {
	-ms-flex: 50%; /* IE10 */
	flex: 50%;
}

.kontakt .col-75 {
	-ms-flex: 75%; /* IE10 */
	flex: 75%;
}

.kontakt .col-25,.kontakt .col-50,.kontakt .col-75 {
	padding: 0 16px;
}

.kontakt .container {
	padding: 5px 20px 15px 20px;
	border-radius: 3px;
}

.kontakt input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.kontakt label {
	margin-bottom: 10px;
	display: block;
}

.kontakt .icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}

.kontakt .btn {
	background-color: black;
	color: white;
	padding: 12px;
	margin: auto;
	border: none;
	width: 20%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}

.kontakt .btn:hover {
	background-color: brown;
}

.kontakt span.price {
	float: right;
	color: grey;
}

/*BURGERJI*/

.burgerji .pos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
	margin-top: 100px;
	margin-bottom: 100px;
}

.burgerji .container .row{
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
	margin: auto;
}

.burgerji .container img{
    width: 100%;
    transition: all .5s;
	position: relative;
	bottom: 30px;
}

.burgerji .container .row:hover img{
    transform: translateY(-30%);
}

.burgerji .caption{
    position: absolute;
    bottom: 0;
    left: 12px;
    width:	95%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    transform: translateY(100%);
    transition: all .5s;
}

.burgerji .caption h1{
    text-transform: uppercase;
}

.burgerji .caption p{
    font-size: 18px;
}

.burgerji .container .row:hover .caption{
    transform: translateY(0);
}

/* CENIK */
.cenik table {
	width: 100%;
	border-collapse: collapse;
}
.cenik table, .cenik th, .cenik td {
	border: 1px solid black;
}
.cenik th, .cenik td {
	padding: 8px;
	text-align: left;
}
.cenik #main .row{
	margin-bottom: 0px;
}
.cenik #main .row .col-md-6 h2{
	display: flex;
	align-items: center;
	margin-top: 100px;
}
.cenik #main .row .col-md-6 svg{
	display: flex;
	align-items: center;
	margin-left: 435px;
	margin-top: 40px;
}
.cenik #main{
	margin-bottom: 200px;
}
/*O NAS*/
.intro-header-narocilo{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 1120px;
	margin-bottom: 100px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f4f4f4;
	background-image: url('slike/prevzem.jpg');
	background-position: 0px 0px;
	background-size: cover;
	color: #fff;
}


/* GALERIJA */
.galerija-slik .row img{
	width: 500px;
	height: 20%;
	margin: auto;
	transition: all 1s;
	padding: 10px;
}
.galerija-slik{
	display: flex;
	align-items: center;
	justify-content: center;
}
.galerija-slik h1{
	text-align: center;
}
.galerija-slik .row img:hover{
	transform: scale(130%);
}

/* NOVICE */
.novice #main p{
	width: 70%;
	margin: auto;
	margin-bottom: 20px;
	color: white;
}
.novice #main .row img{
	width: 800px;
	margin: auto;
}
.novice #main{
	background-color: #795548;
	margin-top: 100px;
}
.novice #main .novica{
	border: 3px solid black;
	border-radius: 10px;
	margin-bottom: 30px;
}